<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <img src="https://i.etsystatic.com/17408560/r/il/1d83f0/3999983370/il_794xN.3999983370_l5m2.jpg"
            alt="Video Game Banner" class="" style="height: 400px;">
    </div>
    <div class="col-md-5 bg-dark text-white p-5">
        <h2>¡Sumérgete en un mundo de aventuras!</h2>
        <p>Descubre una emocionante historia, personajes memorables y batallas épicas en este nuevo videojuego.</p>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-2 card">
            <div class="card-body">
                <img src="{{juegos[0].imagen}}" class="img-thumbnail">
            </div>
            <p class="card-footer">{{juegos[0].nombre}}</p>
        </div>
        <div class="col-2 "></div>
        <div class="col-2 card">
            <div class="card-body">
                <img src="{{juegos[1].imagen}}" class="img-thumbnail">
            </div>
            <p class="card-footer">{{juegos[1].nombre}}</p>
        </div>
        <div class="col-2"></div>
        <div class="col-2 card">
            <div class="card-body">
                <img src="{{juegos[2].imagen}}" class="img-thumbnail">
            </div>
            <p class="card-footer">{{juegos[2].nombre}}</p>
        </div>
    </div>
    <div class="row ">
        <p class="text-center">GameStop <br> contacto&#64;gamestop.com <br> (55) 5747 45 46</p>
    </div>
</div>