<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card-header text-center">
                <h3>Escríbenos</h3>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre ">
                        </div>
                        <div class="col-md-6">
                            <label for="Apellido" class="form-label">Apellido</label>
                            <input type="tel" class="form-control" id="Apellido" name="Apellido" placeholder="Apellido">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label for="correo" class="form-label">Email</label>
                            <input type="email" class="form-control" id="correo" name="correo" placeholder="email">
                        </div>
                        <div class="col-md-6">
                            <label for="asunto" class="form-label">Asunto</label>
                            <input type="text" class="form-control" id="asunto" name="asunto" placeholder="Asunto">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label for="mensaje" class="form-label">Mensaje</label>
                            <textarea class="form-control" id="mensaje" name="mensaje" rows="4"
                                placeholder="Ingrese su mensaje"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-6">
            <div class="card-body">
                <div class="card-header text-center">
                    <h3>Oficinas</h3>
                </div>
                <p class="card-text">Carlos B. Zetina No. 80, Parque Industrial Xalostoc</p>
                <p class="card-text">Ecatepec, Edo. de México, 55348</p>

                <p class="card-text">Conmutador: (55) 5747 45 45 y (55) 4749 45 45</p>
                <p class="card-text">Atención a Clientes: (55) 5747 45 46</p>
                <p class="card-text">contacto&#64;gamestop.com</p>
            </div>
        </div>
    </div>
</div>